            </div>
            <div class="side_nav">
                <div>
                    <div><i class="fas fa-search"></i></div>
                    <div><i class="fas fa-filter"></i></div>
                </div>
            <div><i class="fas fa-chevron-left"></i></div>
        </div>        
    </main>
</body>
</html>