<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <div class="brand_logo">
            <div><i class="fab fa-accusoft" style="color: #407aff;"></i><span style="font-family: cursive; color: #407aff">TheRecriter</span></div>
        </div>
        <div class="profile_info">
            <div><i class="fas fa-envelope"></i></div>
            <div><i class="fas fa-users"></i></div>
            <div class="profile-info-div">
                <div><i class="fas fa-address-book"></i></div>
                <div style="color: lightgrey"><%= am.name %></div>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
        </div>
    </header>
    
    <main>
        <div class="main_menu">
            <p>Navigation</p>
            <ul>
                <li><i class="fas fa-archive"></i><a href="">Dashboard</a></li>
                <li><i class="fas fa-folder"></i><a href="">Recruiters</a></li>
            </ul>
            <p>Job</p>
            <ul>
                <li><i class="fas fa-align-left"></i><a href="">Received Candidates</a></li>
                <li><i class="fas fa-archive"></i><a href="">Live Jobs</a></li>
            </ul>
            <p>Support</p>
            <ul>
                <li><i class="fas fa-align-left"></i><a href="">Help Desk</a></li>
                <li><i class="fas fa-archive"></i><a href="">Tutorial</a></li>
                <li><i class="fas fa-folder"></i><a href="">Feedback</a></li>
            </ul>
        </div>
        <div class="content_div">
            <div class="content_heading"><i class="fas fa-certificate" style="color: lightgrey; font-size: 25px"></i><span><%= pageTitle %></span></div>
        
        